// settings/_type-scale.scss
// ===
// 

$type-scale-ratio: 1.25; // Major third

$type-scale-base: $font-size-base;

$type-scale-1: $type-scale-base * $type-scale-ratio;
$type-scale-2: $type-scale-1 * $type-scale-ratio;
$type-scale-3: $type-scale-2 * $type-scale-ratio;
$type-scale-4: $type-scale-3 * $type-scale-ratio;
$type-scale-5: $type-scale-4 * $type-scale-ratio;
$type-scale-small: $type-scale-base / $type-scale-ratio;

%font-size-base {
  font-size: $type-scale-base;
}

%font-size-1 {
  font-size: $type-scale-1;
}

%font-size-2 {
  font-size: $type-scale-2;
}

%font-size-3 {
  font-size: $type-scale-3;
}

%font-size-4 {
  font-size: $type-scale-4;
}

%font-size-5 {
  font-size: $type-scale-5;
}

%font-size-small {
  font-size: $type-scale-small;
}

