<footer class="x-footer">
  <h3 class="x-footer__header">Social</h3>
  <ul class="x-footer__social--list">
    <li class="x-footer__social--item">
      <a href="https://twitter.com/durfeee">Talking to no-one</a>
    </li>
    <li class="x-footer__social--item">
      <a href="https://instagram.com/durfee">Mostly selfies</a>
    </li>
    <li class="x-footer__social--item">
      <a href="https://ca.linkedin.com/in/sean-durfee-ba393b5a">Overrated resume</a>
    </li>
    <li class="x-footer__social--item">
      <a href="https://github.com/durfee">Version Control Shmerion Control</a>
    </li>
    <li class="x-footer__social--item">
      <a href="http://analogromance.tumblr.com/">Hipster photos</a>
    </li>
  </ul>
</footer>
