<div class="menu__container" id="menu__container">
  <div class="menu__wrapper fade-in">
    <ul>
      <li class="menu__item">
        <a href="/">
          <h3>Home</h3>
        </a>
      </li>
      <li class="menu__item">
        <a href="/projects">
          <h3>Projects</h3>
        </a>
      </li>
      <li class="menu__item">
        <a href="/words">
          <h3>Writing</h3>
        </a>
      </li>
      <li class="menu__item">
        <a href="/pictures">
          <h3>Pictures</h3>
        </a>
      </li>
<!--       <li class="menu__item">
        <a href="/videos">
          <h3>Moving pictures</h3>
        </a>
      </li> -->
    </ul>
  </div>
</div>