<div class="sb__wrapper">
  <div class="sb__masthead">
  <div class="x-logo sb__logo"></div>
  <h1 class="sb__masthead--title">Sean<br>Durfee</h1>
  </div>
  <h1 class="h1 sb__title--super">/A</h1>
  <h3 class="sb__title">About</h3>
  <p class="sb__copy">this is a short description of what might be in a section</p>

  <h1 class="sb__title--super">/B</h1>
  <h3 class="sb__title">Blog</h3>
  <p class="sb__copy">this is a short description of what might be in a section</p>

  <h1 class="sb__title--super">/C</h1>
  <h3 class="sb__title">Contact</h3>
  <p class="sb__copy">this is a short description of what might be in a section</p>
</div>