<div class="sb__wrapper">
  <div class="sb__masthead--wrapper">
    <div class="x-logo sb__logo"></div>
    <h1 class="sb__masthead--title">Sean<br>Durfee</h1>
    <h1 class="sb__masthead--title">Designer</h1>
  </div>
  <div class="sb__section--wrapper">
    <h1 class="h1 sb__title--super">/Ab</h1>
    <h1 class="sb__title">About</h1>
    <p class="sb__copy">
    I'm Sean! I'm a Vancouver based multi-disciplinary designer with a degree in International Relations. I do product design, branding, web design, photography, and video. I am presently freelancing for <a href="frindsmade.ca">Friends Made</a>, building community content for <a href="startup604.com">#Startup604</a>, and doing product design for <a href="chilly.tech">Chilly Technologies</a> while looking for a stable job.
    </p>
  </div>
  <div class="sb__section--wrapper">
    <h1 class="sb__title--super">/Wr</h1>
    <h1 class="sb__title">Writing</h1>
    <p class="sb__copy">I sometimes write things (this doesn't happen very often). When it does, links are posted here.</p>
    <ul class="sb__blog--list">
      <li class="sb__blog--item"></li>
      <li class="sb__blog--item"></li>
    </ul>
  </div>
  <div class="sb__section--wrapper">
    <h1 class="sb__title--super">/Co</h1>
    <h1 class="sb__title">Contact</h1>
    <p class="sb__copy">Want to chat? Hire me? Just say hi? Drop me a line!</p>
  </div>
</div>