/* ==========================================================================
   _elements.scss
   ========================================================================== */

img {
  max-width: 100%;
  vertical-align: middle;
}

figure {
  margin: 2em auto;
  > img {
    display: block;
  }
  > figcaption {
    display: block;
  }
}

.limit {
  width: 15rem;
  max-width: 15rem;
  margin: 1rem auto;
}

figcaption {
  padding-top: 0.3 * $unit;
  padding-left: 0.3 * $unit;
  padding-bottom: 0.7 * $unit;
}

ul, ol {
  margin-left: 0;
}

li {
  > ul,
  > ol {
     margin-bottom: 0;
  }
}

a {
  color: $color-grey;
  text-decoration: none;
  border-bottom: 1px solid $color-grey;
   
  &:hover {
    color: $color-primary;
    border-bottom: 1px solid $color-primary;
  }
}

blockquote {
  color: $color-grey--light;
  border-left: 4px solid $color-grey--dark;
  padding-left: 2 * $unit;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
  
  > :last-child {
    margin-bottom: 0;
  }
}

pre,
code {
  font-size: 15px;
  border: 1px solid $color-grey--light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    path {
      fill: $color-grey--light;
    }
  }
}

hr {
  display: block;
  height: 1px;
  text-align: center;
  border-color: $color-grey--light;
  
}

%hr-fat-short,
.hr-fat-short {
  border: 0.3*$unit solid;
  width: 10 * $unit;
}

%hr-dotted,
.hr-dotted {
  border-width: 0;
  border-style: dotted;
  margin: 2rem 0rem 3rem 3rem;
  &:after {
    content: "...";
    letter-spacing: 2*$unit;
  }
}

%hr-full-width,
.hr-full-width {
  
}

.btn {
  @extend %f-sans-serif-thin;
  display: inline-block;
  padding: 0.75*$unit 1.5*$unit;
  border: 1px solid $color-primary;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    background-color: $color-primary;
    color: $color-text--white !important;
  }
}
