/* ==========================================================================
   _modules.scss –– project hero styles
   ========================================================================== */

.project--hero {
  height: 100vh;
  width: 100%;
}

.project--hero:nth-of-type(2n) {
  background-color: $color__white !important;
  .project--hero__name,
  .project--hero__category,
  .project--hero__date,
  .project--hero__cta a {
    color: $color__text !important;
  }
}

.project--hero__copy {
  width: 50%;
  margin: 0 auto;

  @include media($bp__md) {
    padding-top: 7 * $unit;
  }

  @include media($bp_-lg) {
    padding-top: 15 * $unit;
  }
}

.project--hero__name,
.project--hero__category,
.project--hero__date,
.project--hero__cta a {
  @extend %vertical-rhythm;
  color: $color__text--white !important;
}

.project--hero__name {
  @extend %sans-serif-thin;
}

.project--hero__category {
  @extend %serif-display-regular;
  @extend %bravo;
}

.project--hero__date {
  @extend %sans-serif-thin;
  @extend %golf;
}

.project--hero__cta {
  width: 100%;
  text-align: center;
  @include media($bp__md) {
    padding-top: 3 * $unit;
  }

  @include media($bp__lg) {
    padding-top: 7.5 * $unit;
  }
}
