/* ==========================================================================
   screen.scss –– Primary stylesheet
   ========================================================================== */
/**
  * Home to imports, charset, and site wide mixins.
 **/

// The most minimal style sheet evar (at first anyways)
// ===

@import 'normalize';

// Variables
$font-size-base: 16px;
$unit: $font-size-base;
$line-height-base: 1.3;
$color-black: #1e131e;
$color-ghost: #fcfaf5;
$color-raspberry: #e65062;
$font-stack-sans: 'freight-sans-pro', sans-serif;
$font-stack-serif: 'freight-text-pro', serif;
$measure-small: 248px;
$measure-large: 458px;
$measure-total: $measure-small + $measure-large;


// Elements

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $font-size-base;
  font-family: $font-stack-sans;
  line-height: 1.125;
  letter-spacing: 0.03rem;
}

body {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-stack-serif;
  background-color: $color-ghost;
}

a {
  color: $color-raspberry;
  text-decoration: none;
  border-bottom: 1px solid $color-raspberry;
  transition: all 0.15s ease-in-out;
  &:hover,
  &:active {
    border-bottom: 0;
    background-color: $color-raspberry;
    color: $color-ghost;
  }
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

// classes
.color-black {
  color: $color-black;
}

.color-pink {
  color: $color-raspberry;
}

.bg-ghost {
  background-color: $color-ghost;
}

.italic {
  font-style: italic;
}

.emphasis {
  font-weight: 700;
}

.measure-small {
  flex: 1;
  max-width: 248px;
}

.measure-large {
  flex: 1;
  max-width: 458px;
  p {
    margin-top: 0;
  }
}

.measure-outer {
  max-width: $measure-total;
}

.flexbox {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}

.align-right {
  @media screen and (min-width: 600px) {
    text-align: right;
  }
}

.align-left {
  text-align: left;
}

.mt-2 {
  margin-top: $unit * 2;
}

.mt-6 {
  margin-top: $unit * 6;
}

.mx-a {
  margin-left: auto;
  margin-right: auto;
}

.absolute {
  position: absolute;
}
.pos-b-0 {
  bottom: 0;
}