/* ==========================================================================
   /modules/_project-hero.scss –– project hero styles
   ========================================================================== */

.project--hero {
  height: 100vh;
  width: 100%;
}

.project--hero {
  .project--hero__name,
  .project--hero__category,
  .project--hero__date,
  .project--hero__cta a {
    @extend %vertical-rhythm;
    color: $color__text !important;
  }

  .project--hero__name {
    @extend %sans-serif-thin;
  }

  .project--hero__category {
    @extend %serif-display-regular;
    @extend %bravo;
  }

  .project--hero__date {
    @extend %sans-serif-thin;
    @extend %golf;
  }
}

.project--hero__copy {
  width: 50%;
  height: 75vh;
  margin: 0 auto;

  @include media($bp__md) {
    padding-top: 2.5 * $unit;
  }

  @include media($bp_-lg) {
    padding-top: 5 * $unit;
  }
}

.project--hero__cta {
  width: 100%;
  height: 25vh;
  text-align: center;
  @include media($bp__md) {
    padding-top: $unit;
  }

  @include media($bp__lg) {
    padding-top: 2 * $unit;
  }
}
