/* ==========================================================================
   /modules/_project-hero.scss –– project hero styles
   ========================================================================== */

.c-project--hero {
  height: 100vh;
  width: 100%;
  
  .c-project--hero__name,
  .c-project--hero__category,
  .c-project--hero__date,
  .c-project--hero__cta a {
    @extend %vertical-rhythm;
    color: $color-text !important;
  }

  .c-project--hero__name {
    @extend %f-sans-serif-thin;
  }

  .c-project--hero__category {
    @extend %f-serif-display-light;
    @extend %bravo;
  }

  .c-project--hero__date {
    @extend %f-sans-serif-thin;
    @extend %golf;
  }
}

.c-project--hero__copy {
  width: 50%;
  height: 75vh;
  margin: 0 auto;

  @include media($breaks-at-md) {
    padding-top: 2.5 * $unit;
  }

  @include media($breaks-at-lg) {
    padding-top: 5 * $unit;
  }
}

.c-project--hero__cta {
  width: 100%;
  height: 25vh;
  text-align: center;
  @include media($breaks-at-md) {
    padding-top: $unit;
  }

  @include media($breaks-at-lg) {
    padding-top: 2 * $unit;
  }
}
