//   ==========================================================================
//   _social.scss –– social icon styles styles
//   ==========================================================================

.social--list {
  padding-top: 2 * $unit;
  margin: 0 auto;
}

.social--item {
  display: inline-block;
  padding: 0 $unit/2;
  a {
    &:hover {
      text-decoration: none !important;
    }
  }
}