<ul class="social--list">
  <li class="social--item">
    <a href="https://twitter.com/durfeee"><div class="glyph"><i class="icon-twitter"></i></div></a>
  </li>
  <li class="social--item">
    <a href="https://instagram.com/durfee"><div class="glyph"><i class="icon-instagram"></i></div></a>
  </li>
  <li class="social--item">
    <a href="https://ca.linkedin.com/in/sean-durfee-ba393b5a"><div class="glyph"><i class="icon-linkedin"></i></div></a>
  </li>
  <li class="social--item">
    <a href="https://github.com/durfee"><div class="glyph"><i class="icon-github"></i></div></a>
  </li>
  <li class="social--item">
    <a href="https://www.behance.net/durfeeseanf32d"><div class="glyph"><i class="icon-behance2"></i></div></a>
  </li>
</ul>