// components/_project-grid.scss
// ===
// 

.c-project-list {
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
  max-width: $measure-total;

  @include --sm-up {
    flex-direction: row;
  }
  
  .c--item {
    display: block;
    width: 100%;
    height: 280px;
    margin-bottom: 2*$unit;
    padding-bottom: 2*$unit;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include --sm-up {
      width: 50%;

      &:nth-child(even) {
        padding-left: $unit;
      }
      &:nth-child(odd) {
        padding-right: $unit;
      }
    }

    a {
      
      position: relative;
      display: block;
      width: 100%;
      height: 100%;

      &:hover {
        background-color: transparent;

      }
    }

    h1 {
      color: $color-ghost;
      position: absolute;
      bottom: 15px;
      right: 25px;
    }
  }
}