---
layout: 0-default
---

<div class="flex-row container c-home">
  <div class="c-pane--primary">
    <div class="c-home__wrapper start">
      <div class="c-home__masthead--wrapper start middle flex-row">
        <h1 class="c-home__masthead--title">Sean Durfee</h1>
      </div>
      <div class="c-home__section--wrapper">
        <h1 class="c-home__title">About</h1>
        <p class="c-home__copy">Hi there! I'm Sean Durfee, a Vancouver, BC based multi-disciplinary designer. I'm a project manager, designer, front-end developer, and jack-of-all-trades with <a href="http://denimandsteel.com/">Denim and Steel</a>. I hold a degree in International Relations from the University of British Columbia with a focus in international security, East Asia, trade and languages (English, French & Italian with a smattering of Mandarin and Spanish). I'm a generalist designer that works across many disciplines – a fusionist, if you're feeling buzz-wordy.</p>

        <p class="c-home__copy">On the side, I build community content for <a href="http://startup604.com">#Startup604</a>, lead product design for my company, <a href="http://chilly.tech">Chilly Technologies</a>, am a swiss army knife, resident fire extinguisher and designer with the <a href="http://vancouverdesignwk.com">Vancouver Design Week</a> team, and co-run <a href="http://house-house.design">House House Design</a>. I like to keep busy.</p>

        <p class="c-home__copy">A few of my past clients: <a href="http://annikaep.com">TRIBE</a>, <a href="http://greatdanecoffee.com">Great Dane Coffee</a>, <a href="http://theenvoy.ca/">The Envoy</a>, <a href="http://frindsmade.ca">Friends Made</a>, <a href="http://liu.arts.ubc.ca/">The University of British Columbia</a>, <a href="http://commissaryconnect.com/">Commissary Connect</a>, <a href="https://blogs.ubc.ca/irsa/">UBC's IRSA</a>, and more.</p>

        <p class="c-home__copy">I get excited by elegant typography, photography, and food. I believe in making things that are Good Enough (well made, does Good). You too? Rad. Let's be friends.</p>

        <p class="c-home__copy">You can find me on the internet on <a href="http://twitter.com/durfeee">Twitter</a>, <a href="https://github.com/durfee">Github</a>, <a href="http://instagram.com/durfee">Instagram</a>, <a href="https://play.spotify.com/user/durfee">Spotify</a>, and <a href="https://www.behance.net/durfeeseanf32d">Behance</a>. Or send me an <a href="mailto:sean@durfee.me">email</a>.</p>
      </div>
      <div class="c-home__section--wrapper">
        <h1 class="c-home__title">Writing</h1>
        <p class="c-home__copy">I occasionally write things. It usually isn't good.</p>
        <ul class="c-home__blog--list">
          {% for post in site.posts %} 
            <a href="{{ post.url }}">
              <li class="c-home__blog--item">
              <span class="c-home__blog--item-title">{{ post.title }}</span></li>
            </a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>