---
layout: 0-default
---
<div class="mx-a measure-outer mt-4 px-half">
  <div class="flexbox mb-1">
    <div class="measure-small">
      <h1 class="emphasis italic color-pink align-right u-text-size-base">Hey Stranger</h1>
    </div>
    <div class="measure-large mt-1">
      <p>I’m Sean Durfee. I'm a designer. Sort of. I’m a designer but I'm also front-end developer and project manager who comes from a background in international relations. ... I don’t really know what I am. “Fusionist” sounds like a bad superhero name from the 60s and “creative” rubs me the wrong way. However you word it, I help people and businesses find humble solutions to complex problems. Sometimes that involves writing code, other times it’s a brand refresh, creating a product, or breathing new life into an old project. Sometimes it’s all of the above and other times it’s something completely new.</p>
    </div>
  </div>

  <div class="flexbox mb-1">
    <div class="measure-small">
      <h1 class="emphasis italic color-pink align-right u-text-size-base">I keep busy</h1>
    </div>
    <div class="measure-large mt-1">
      <p>Product designer: <a rel="noopener" target="_blank" href="http://chilly.tech" title="Chilly Technologies">Chilly Technologies</a>; fire extinguisher and designer: <a rel="noopener" target="_blank" href="http://vancouverdesignwk.com" title="Vancouver Design Week">Vancouver Design Week</a>; designer &amp; developer: <a rel="noopener" target="_blank" href="//house-house.design" title="House House Design">House House Design</a>.</p>
    </div>
  </div>
    
  <div class="flexbox mb-1">
    <div class="measure-small">
      <h1 class="emphasis italic color-pink align-right u-text-size-base">I like things</h1>
    </div>
    <div class="measure-large mt-1">
      <p>Typography, photography, food, and flying. Mountains, dogs, beaches, and bourbon. Coffee, coding, barbeque's, and books. Philosophy and sci-fi. Fitzgerald, Eco, Murakami, and Mitchell. Quiet moments in loud places.</p>
    </div>
  </div>
  <div class="flexbox mb-1">
    <div class="measure-small">
      <h1 class="emphasis italic color-pink align-right u-text-size-base">I've worked with cool cats</h1>
    </div>
    <div class="measure-large mt-1">
      <p><a href="//denimandsteel.com" title="Denim &amp; Steel Interactive" target="_blank" rel="noopener">Denim &amp; Steel Interactive</a>, <a href="//vancouverdesignwk.com" title="Vancouver Design Week" target="_blank" rel="noopener">Vancouver Design Week</a>, <a rel="noopener" target="_blank" href="http://liu.arts.ubc.ca/">The University of British Columbia</a>, <a rel="noopener" target="_blank" href="http://annikaep.com" title="TRIBE">TRIBE</a>, <a rel="noopener" target="_blank" href="http://greatdanecoffee.com" title="Great Dane Coffee">Great Dane Coffee</a>, <a rel="noopener" target="_blank" href="http://theenvoy.ca/" >The Envoy</a>, <a rel="noopener" target="_blank" href="http://frindsmade.ca">Friends Made</a>, <a rel="noopener" target="_blank" href="http://commissaryconnect.com/">Commissary Connect</a>.</p>
    </div>
  </div>
  {% comment %}
  <div class="flexbox mb-1">
    <div class="measure-small">
      <h1 class="emphasis italic color-pink align-right u-text-size-base">I ponder stuff</h1>
    </div>
    <div class="measure-large"></div>
  </div>
  {% endcomment %}
</div>