---
layout: 0-default
---

  <div class="mx-a measure-outer mt-6 px-half">
    <div class="flexbox mb-1">
      <div class="measure-small">
        <h1 class="emphasis color-pink">{{ page.title }}</h1>
        <div class="mt-2">
          <ul>
            {% for category in page.categories %}
            <li class="italic">{{ category }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="measure-large u-text-leadin">
        {{ page.introduction | markdownify }}
      </div>
    </div>
  </div>
  <div class="mt-2 mx-a c-content">
    <hr>
    {{ content }}
  </div>