---
layout: 0-default
---
<div class="flexbox mt-4 mx-a measure-outer c-content">
  <div class="measure-small">
    <h1 class="emphasis italic color-pink align-right u-text-size-base">
      Projects
    </h1>
  </div>
  <div class="u-measure--large mt-1 u-text-leadin">
    {{ content }}
  </div>
</div>


<div class="u-measure--vlarge mx-a c-project-list mt-4 px-half">
  {% for project in site.projects %}
    <!-- <div class="c--item" style="background-image: url({{ '/assets/images/' | prepend: site.url }}{{ project.cover_image }});"> -->
      <a class="block w100" href="{{ project.url }}">
        <h1 class="u-text-size-bloody-enormous">{{ project.title }}</h1>
      </a>

    <!-- </div> -->
  {% endfor %}

</div>
