/* ==========================================================================
   layout/_layout.scss –– General layout styles
   ========================================================================== */
@import 'sidebar';

.c-pane--left {
  width: 66%;
  height: 100vh;
  display: block;
  float: left;

  background: $color__grey--light;
}

.c-pane--right {
  width: 34%;
  height: 100vh;
  float: right;
  overflow-y: scroll;
}

.x-header {
  position: absolute;
  top: 0;
  left: 0;
}

.x-footer {
  position: relative;
  padding: $unit $unit 0;

}

.x-footer__header {
  @extend %serif-display-regular;
}

.x-footer__social--list {
  list-style: none;
}