/* ==========================================================================
   layout/_layout.scss –– General layout styles
   ========================================================================== */
@import 'sidebar';

.c-pane--left {
  display: none;

  @include media($bp__md) {
    display: block;
    height: 100vh;
    width: 50%;
    overflow-y: scroll;
    float: left;
    background: $color__grey--dark;
  }

  @include media($bp__lg) {
    width: 66%;
  }
}

.c-pane--right {
  @include media($bp__md) {
    float: right;
    height: 100vh;
    width: 50%;
    overflow-y: scroll;
  }

  @include media($bp__lg) {
    width: 34%;
  }
}

// Header

.x-header {
  top: 0;
  left: 0;
  position: absolute;
}

.menu--icon {
  display: inline-block;
  margin: 1em 0 0 1em;
  float: left;
  color: $color__text !important;
}

.menu--icon__text {
  padding-top: 0.5em;
  padding-left: 0.5em;
  display: inline-block;
}

// Footer

.x-footer {
  padding: $unit $unit 0;
  position: relative;
}

.x-footer__header {
  @extend %serif-display-regular;
}

.x-footer__social--list {
  list-style: none;
}