// ==========================================================================
// layout/_layout.scss –– General layout styles
// ==========================================================================
@import 'flexgrid';
@import 'sidebar';
@import 'project';


.c-home {
  @include media ($breaks-at-md) {
    max-width: 40rem;
    margin: 0 auto;
    justify-content: space-around;
    align-items: baseline;
  }
}

.c-pane--primary {
  @include flex-column(100%);
  order: 0;
  @include media($breaks-at-md) {
    order: 1;
  }
}

// Header

.o-header {
  display: block;
  position: relative;


  @include media($breaks-at-md) {
    position: fixed;
    float: right;
    width: 7.5em;
    height: auto;
    right: 0;
    top: 25%;  
  }
}

// Footer
.o-footer {
  display: block;
  position: absolute;
  width: 100vw;

  .footer-copy {
    text-align: center;
  }
  
  .parrot {
    width: 1.25rem;
  }
}

// Page content
.x-page--wrapper {
  @include media ($breaks-at-md) {
    max-width: 48rem;
    margin: 0 auto;
    justify-content: space-around;
    align-items: baseline;
  }
}

.x-page--content {
  @include flex-column(80%);
  order: 0;

  @include media($breaks-at-md) {
    order: 1;
  }
}

.x-page--hero {
  .x-page--hero__copy {
    padding: 2*$unit 0 0;
  }
}

// Grids
.c-posts--grid {
  flex-flow: row wrap;
  padding: $unit;
  text-align: left;

  .c-posts--grid__item {
    @include flex-column(20%);
    padding: $unit;
    border-bottom: 0 !important;
    &:hover {
      border-bottom: 0;
    }
  }
  .c-posts--grid__image {
    @include flex-column(47.5%);
    margin: $unit/5;
  }
}
