// ==========================================================================
//   layout/_layout.scss –– project layout styles
//  ==========================================================================
.full-width {
  @include flex-column(100%);
}

.article--hero {
  height: 100vh;
  margin-bottom: 2*$unit;
  padding-top: 2rem;
  background-color: transparentize($color__grey--dark, 0.6);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;

  @include media($bp__nil) {
    div:not(.custom) .full-width & {
      height: auto;
      background: none;
    }
  }

  .article--hero__copy {
    @include flex-column(initial);
  }

  .article-title {
    @extend %serif-display;
    @extend %delta;
    color: $color__text;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

    @include media($bp__md) {
      max-width: none;
    }
  }
  
  .article-logo {
    @include flex-column(100%);
    height: 2em;
    align-self: flex-end;
    margin-bottom: 1em;
  }

  h4 {
    @extend %body-serif;
    color: $color__text--white;
  }

  h5 {
    @extend %body-serif;
    color: $color__text--white;
    max-width: 80%;
    margin: 0 auto;
  }

  hr {
    @extend %hr-dotted;
    color: $color__text--white;
  }
}

article.full-width .article--content {
  max-width: none;

  p {
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    padding: 0 $unit;

    @include media($bp__md) {
    max-width: 38rem;
    }
  }

  ol,
  ul {
    padding-left: 40px;
    
    @include media($bp__md) {
      max-width: 34rem;
      margin: 0 auto;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    text-align: center;
    padding-top: $unit;
  }

  hr {
    @extend %hr-dotted;
  }

  figure {

    p {
      max-width: none;
      margin: 1rem 0;
      padding: 0;
    }
    @include media($bp__md) {
      max-width: 48rem;
      p {
        max-width: 48rem;
        margin: 1rem auto;
      }
    }
  }
}