/* ==========================================================================
   layout/_sidebar.scss –– sidebar layout & styles
   ========================================================================== */

.sb__wrapper {
  padding-left: $unit;
  padding-right: $unit;
  // overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
}

.sb__masthead--wrapper {
  text-align: left;
  @include media($bp__md) {
    padding: 2 * $unit 0 0;
  }
}

.sb__logo {
  @include flex-column(2em);
  height: 2em;
  @include media($bp__md) {
    @include flex-column(3em);
    height: 3em;
    margin-left: -3em;
    padding-right: 0.2em;
  }  
}

.sb__masthead--title {
  @extend %sans-serif-thin;
  @extend %delta;
  @extend %vertical-rhythm;
  padding: $unit 0 0;
  color: $color__overlay;

}

.sb__section--wrapper {
  position: relative;
}

.sb__title {
  @extend %sans-serif-thin;
  @extend %echo;
  color: $color__overlay !important;
}

.sb__copy {
  max-width: 35rem;
  @include media($bp__md) {
    padding-top: $unit;
    color: $color__text--light;
  }
}

.sb__blog--list {
  list-style: none;
  .sb__blog--item-title {
    color: $color__overlay;
  }
}

.sb__blog--item-date {
  margin-left: 20px;
}

.sb__blog--item-title {
  @extend %serif-display-italic;
}