/* ==========================================================================
   base/_base.scss –– Base styles
   ========================================================================== */
@import 'vars',
        'mixins', 
        'reset',
        'syntax-highlighting',
        'typography';

%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

html {
    background: #fff url('/assets/images/line.svg') 100% 0 fixed;
    background-size: cover;
}