/* ==========================================================================
   /base/_mixins.scss –– Primary stylesheet
   ========================================================================== */

// Media queries
@mixin media($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// Include any omni-heading styles here.
@mixin heading-styles() {  
  color: $color__grey--dark;
  line-height: 1; /* Eliminate whitespace for split headers. */
}
// Hard and silent classes for all headings.
@mixin heading-classes() {
  @each $name, $scale in $type-scale {
    .#{$name},
    %#{$name} {
      @include heading-styles();
      font-size: $scale+$type-units;
    }
  }
}
// Extend silent classes to h elements.
@mixin heading-elements() {  
  @each $h, $scale in $type-scale--headings {
    #{$h} {
     @extend %#{$scale};
    }
  }
}

