// ==========================================================================
// base/_typography.scss –– Text styles
// ========================================================================== */

@import 'https://fonts.googleapis.com/css?family=Work+Sans:200,400,700';
@import 'https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic';
@import 'https://fonts.googleapis.com/css?family=Alegreya:400,400i';

/**
 * Font weight silent classes
 **/
%sans-serif {
  font-family: $font-family--sans;
}

%sans-serif-thin {
  @extend %sans-serif;
  font-weight: 200;
}

%sans-serif-regular {
  @extend %sans-serif;
  font-weight: 400;
}

%sans-serif-bold {
  @extend %sans-serif;
  font-weight: 700;
}

%body-serif {
  font-family: $font-family--serif;
}

%body-serif-italic {
  @extend %body-serif;
  font-style: italic;
}

%serif-display {
  font-family: $font-family--display;
}

%serif-display-regular {
  @extend %serif-display;
  font-weight: 400;
}

%serif-display-italic {
  @extend %serif-display;
  font-weight: 400;
  font-style: italic;
}

html {
  font-family: $font-family--sans;
  color: $color__text;
  font-size: $font-size--base;

  @include media($bp__md) {
    font-size: 1.1 * $font-size--base;
  }

  @include media($bp__lg) {
    font-size: 1.2 * $font-size--base;
  }

  @include media($bp__xl) {
    font-size: 1.3 * $font-size--base;
  }
}

p,
blockquote,
pre,
ul,
ol,
li,
dl,
figure,
%vertical-rhythm {
  margin-bottom: 1.5em;
}

figcaption {
  @extend %body-serif-italic;
  font-size: $small-font-size;
  letter-spacing: 0.03em;
}

p,
li,
span {
  font-family: $font-family--serif;
}

.sc {
  font-variant: small-caps;
  top: 0;
  font-size: 0.925em;
}

.small {
  font-size: 0.8em;
}

// Icomoon font-icons - icomoon.io

@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot');
    src:    url('/fonts/icomoon.eot') format('embedded-opentype'),
            url('/fonts/icomoon.ttf') format('truetype'),
            url('/fonts/icomoon.woff') format('woff'),
            url('/fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu{
  color: $color__text;
  &:before {
    content: "\e9bd";
  } 
}
.icon-instagram:before {
    content: "\ea92";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-behance2:before {
    content: "\eaa9";
}
.icon-github:before {
    content: "\eab0";
}
.icon-linkedin:before {
    content: "\eac9";
}

.glyph {
  overflow: hidden;
  font-size: 24px;
  color: $color__text--light;
  transition: 0.15s ease-in-out;
  &:hover {
    color: $color__overlay;
  }
}

/**
 * Type scale and mixins
 * map each heading = charlie through hotel.
 * Also map / set wowza - hotel to silent classes for extends.
 * 
 * wowza              =   16 * 15     =  240
 * super-duper-alpha  =   16 * 8      =  124
 * super-alpha        =   16 * 6.667  =  106.67
 * alpha              =   16 * 5.333  =  85.33
 * bravo              =   16 * 4      =  64
 * charlie            =   16 * 3.333  =  53.33
 * delta              =   16 * 2.667  =  42.67
 * echo               =   16 * 2      =  32
 * foxtrot            =   16 * 1.667  =  26.67
 * golf               =   16 * 1.333  =  21.33
 * hotel              =   16 * 1      =  16
 * */

$type-scale: (
  wowza: 240,
  super-duper-alpha: 124,
  super-alpha: 107,
  alpha:    85,
  bravo:    64,
  charlie:  53,
  delta:    43,
  echo:     32,
  foxtrot:  27,
  golf:     21.33,
  hotel:    16,
  ) !default;

$type-units: px;

$type-scale--headings: (
  h1: charlie,
  h2: delta,
  h3: echo,
  h4: foxtrot,
  h5: golf,
  h6: hotel
  ) !default;

