
// ==========================================================================
// _vars.scss –– Variable definitions
// ==========================================================================

// Default units
$unit:             1.125em;
$spacing-unit:     3 * $unit;

// Colors - Base >> Modified >> Location >> Text
$color-white: #ecf0f1;
$color-grey--dark:  #2c3e50;
$color-grey: #7f8c8d;
$color-grey--light: #bdc3c7;
$color-primary: #e74c3c;


$color-grey--light-opacity: transparentize($color-grey--light, .9);

$color-background: $color-white;

$color-text--white: $color-white;
$color-text: #222;
$color-text--light: #444;

// Breakpoints
$breakpoints: (
  n: 0,
  xs: 20em,
  sm: 34.375em,
  md: 48em,
  lg: 64em,
  xl: 78.5em
);
$breaks-at-nil: map-get($breakpoints, n);
$breaks-at-xs: map-get($breakpoints, xs);
$breaks-at-sm: map-get($breakpoints, sm);
$breaks-at-md: map-get($breakpoints, md);
$breaks-at-lg: map-get($breakpoints, lg);
$breaks-at-xl: map-get($breakpoints, xl);


// Font styles
$font-family--sans: 'Work Sans', 'Helvetica Neue', Helvetica, sans-serif;
$font-family--display: 'acta-display', serif;
$font-family--serif: 'Alegreya', Georgia, serif;
$font-size--base: 18px;
$font-weight--base: 400;
$small-font-size: $font-size--base * 0.875;
$base-line-height: $unit;
