
/* ==========================================================================
   _vars.scss –– Variable definitions
   ========================================================================== */

/* Default units */
$unit:             1.125em;
$spacing-unit:     3 * $unit;

/* Colors */
$color__grey--dark:  #222;
$color__grey: #444;
$color__grey--light: #666;
$color__grey--light-opacity: transparentize($color__grey--light, .6);

$color__background: #fff;

$color__text: $color__grey--dark;
$color__text--light: $color__grey--light;
$color__overlay: #ff122f;

/* Breakpoints */
$breakpoints: (
  n: 0,
  xs: 20em,
  sm: 34.375em,
  md: 48em,
  lg: 64em,
  xl: 78.5em
  );

$bp__xs: map-get($breakpoints, xs);
$bp__sm: map-get($breakpoints, sm);
$bp__md: map-get($breakpoints, md);
$bp__lg: map-get($breakpoints, lg);
$bp__xl: map-get($breakpoints, xl);


/* Font styles */
$font-family--sans: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--serif: "Old Standard TT", Times, serif;
$font-size--base: 16px;
$font-weight--base: 400;
$small-font-size: $font-size--base * 0.875;
$base-line-height: $unit;